<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title th:text="${comida.name} + ' | La Vuelta Rápida'">Detalle Producto</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- FONTS -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

  <!-- CSS -->
  <link rel="stylesheet" th:href="@{/styles.css}">
  <link rel="stylesheet" th:href="@{/product.css}">
</head>

<body>

  <div th:replace="fragmentos :: header"></div>

  <!-- ================= MAIN ================= -->
  <main>
    <section class="product-detail container">

      <!-- LEFT -->
      <div class="product-left">
        <div class="product-image">
          <img th:src="@{${comida.image}}"
               th:alt="${comida.name}">
        </div>

      <div class="product-info">

        <span class="category-badge"
              th:text="${comida.category.name}">
        </span>

        <h1 th:text="${comida.name}"></h1>

        <p th:text="${comida.description}"></p>

        <h2 th:text="'$ ' + ${#numbers.formatDecimal(comida.price, 0, 'POINT', 0, 'POINT')} + ' COP'"></h2>

            <input type="hidden" name="id" th:value="${comida.id}">
            <button type="submit" class="btn-order">
                <span class="cart-icon">🛒</span>
                AGREGAR AL CARRITO
            </button>

      </div>

    </div>
      <!-- CENTER -->
      <div class="product-center">

        <form th:action="@{/carrito/agregar}" method="post">

          <input type="hidden" name="id" th:value="${comida.id}">

          <div class="product-options">

            <div class="option-card">

              <h4 class="option-title">+ Bebidas</h4>

              <div class="option-item">
                <input type="checkbox" id="coca" name="extras" value="Coca-Cola">
                <label for="coca">Coca-Cola</label>
              </div>

              <div class="option-item">
                <input type="checkbox" id="sprite" name="extras" value="Sprite">
                <label for="sprite">Sprite</label>
              </div>

              <div class="option-item">
                <input type="checkbox" id="mrtea" name="extras" value="Mr Tea">
                <label for="mrtea">Mr. Tea</label>
              </div>

            </div>

            <div class="option-card">

            <h4 class="option-title">+ Acompañamientos</h4>

            <div class="option-item">
              <input type="checkbox" id="coca" name="extras" value="Coca-Cola">
              <label for="coca">Pit Rolls</label>
            </div>

            <div class="option-item">
              <input type="checkbox" id="sprite" name="extras" value="Sprite">
              <label for="sprite">Papas</label>
            </div>

            <div class="option-item">
              <input type="checkbox" id="mrtea" name="extras" value="Mr Tea">
              <label for="mrtea">Alitas</label>
            </div>

          </div>

          </div>

        </form>

      </div>

      <!-- RIGHT -->
      <div class="product-right">
        <div class="recommendations">
          <h3>Recomendaciones</h3>

          <div class="recommendations-grid">

            <div class="recommendation-card"
                 th:each="rec : ${recomendaciones}"
                 th:if="${rec.available}">

              <a th:href="@{'/producto/' + ${rec.id}}">
                <img th:src="@{${rec.image}}" th:alt="${rec.name}">
                <p th:text="${rec.name}"></p>
                <span th:text="'$ ' + ${#numbers.formatDecimal(rec.price, 0, 'POINT', 0, 'POINT')} + ' COP'"></span>
              </a>

            </div>

          </div>

        </div>
      </div>

    </section>
  </main>

  <div th:replace="fragmentos :: footer"></div>
  <div id="toast" class="toast-notification">
  ✔ Producto agregado al carrito
</div>
<script th:src="@{/product-detail.js}"></script>
</body>
</html>
