MERCADOPAGO_ACCESS_TOKEN=your_mp_access_token_here
MERCADOPAGO_PUBLIC_KEY=your_mp_public_key_here
MERCADOPAGO_WEBHOOK_SECRET=your_mp_webhook_secret_here
MAIL_USERNAME=your_email@gmail.com
MAIL_PASSWORD=your_gmail_app_password_here
APP_FRONTEND_URL=http://localhost:4200
APP_BACKEND_URL=http://localhost:8090
